.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.columnLeft {
  width: 288px;
  text-align: center;
  padding: 10px;
}

.columnRight {
  width: 394px;
  text-align: center;
  padding: 10px;
}

.pokemonListLeft {
  background-image: url(./assets/grass.png)
}

.pokeDetails {
  text-align: left;
  margin-left: 5px;
  font-family: 'Share Tech Mono', monospace;
}

.pokePic {
  width: 96px;
}

.pokeFrame {
  width: 334px;
  height: 224px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url(./assets/frame.png);
  margin: 10px;
  padding-left: 50px;
}

h3 {
  font-family: 'Arvo', serif;
}

@media(max-width:750px) and (orientation:portrait) {
  .container {
    padding: 0;
  }
  .columnLeft {
    padding: 0;
  }
  .columnRight {
    width: 288px;
    padding: 0;
  }
  .pokemonListLeft {
    background-image: none;
    background-color: fuchsia;
  }
  .pokemonListRight {
    background-color: lightgreen;
  }
  .pokeFrame {
    width: 288px;
    height: 96px;
    background-image: none;
    margin: 0;
    padding-left: 0;
  }
}